<footer class="footer">
    <div class="copyright">
        &copy;
        {{ with .Site.Params.since }}
        <span itemprop="copyrightYear">{{.}} - {{ now.Year }}</span>
        {{ end }}
         {{ if .Site.Params.author }}
            <span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a> | </span>
         {{ end }}

		  <span> 版权所有  ❤️ <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="external nofollow noopener noreffer">浙ICP备20009038号</a>
    </div>
</footer>


{{ partial "js.html" . }}
